h2 {
  margin-bottom: 16px;
  font-size: 14px;
}

.game-card {
  margin: 10px 10px 10px 0px;
}

.create-game {
  margin: 10px !important;
  
}

.outer-paper {
  margin: auto;
  width: 80%;
}


.Button {
  margin: 1.5em auto;
  background-color: #4da6ff;
  color: white;
  text-align: center;
  font-size: 0.9em;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  width: 130px;
  height: 50px;
  color: white;
}

.Button:hover {
  background-color: #009999;
  cursor: pointer;
}