.GuessSquare {
  flex: 1;
  min-width: 35px;
  max-width: 35px;
  min-height: 35px;
  max-height: 35px;
  border: 1px solid #eee;
  background-color:  #009999;
}

.GuessSquare:hover {
  cursor: pointer;
  background-color: #004d4d;
}
