.BoardSquare {
  flex: 1;
  min-width: 35px;
  max-width: 35px;
  min-height: 35px;
  max-height: 35px;
  border: 1px solid #eee;
  background-color:  #adbdbd;
}

/* .value-5 { */
  .ships-5 {
  background-color: #000033;
}

.ships-4 {
  background-color: #000033;
}

.ships-3 {
  background-color: #000033;
}

.ships-2 {
  background-color: #000033;
}

.ships-1 {
  background-color: #000033;
}

.guess {
  min-width: 35px;
  max-width: 35px;
  min-height: 35px;
  max-height: 35px;
  margin: 0px auto;
  border-radius: 50%;
}
 .guess.value-s {
  background-color: red;

}
.guess.value-w {
  background-color: blue;
 
}