div .carrier {
  min-height: 35px;
  max-height: 35px;
  width: 175px;
  background-color: #000033;
  margin-bottom: 20px;
}

div .battleship {
  min-height: 35px;
  max-height: 35px;
  width: 140px;
  background-color: #000033;
  margin-bottom: 20px;
}

div .cruiser {
  min-height: 35px;
  max-height: 35px;
  width: 105px;
  background-color: #000033;
  margin-bottom: 20px;
}

div .submarine {
  min-height: 35px;
  max-height: 35px;
  width: 105px;
  background-color: #000033;
  margin-bottom: 20px;
}

div .destroyer {
  min-height: 35px;
  max-height: 35px;
  width: 70px;
  background-color: #000033;
  margin-bottom: 20px;
}
